html {
  height: 100%;
}

body {
  background-color: gray;
  background-image: url(img/IMG_0815.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1024px;
}

header {
  height: 118px;
  width: 1024px;
  text-align: center;
}

nav {
  background-color: rgba(109, 120, 125, 0.363);
  height: 40px;
  width: 400;
}
main {
  height: 400px;
  width: 1024px;
  text-align: center;
  padding-top: 50px;
  padding-left: 30px;
}

footer {
  background-color: rgb(220, 229, 233);
  height: 100px;
  width: 1024px;
}
h1 {
  font-size: 85px;
  color: rgb(255, 255, 255);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h2 {
  font-size: 30px;
  color: white;
  text-align: center;
}
p {
  font-size: 15px;
  color: white;
}
